.Basket,
.Total {
    text-align: center;
    line-height: 1.5;
}
.Basket {
    font-size: 36px;
    font-weight: 900;
}
.Total {
    font-size: 18px;
}
.ProductsSelected {

    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    .Basket {
        font-size: 26px;
    }
    .Total {
        font-size: 14px;
    }
}