.LaptopsContainer {
  margin: 0 auto;
}

.LaptopProduct {
  display: flex;
  margin: 20px 0;

}
.Name-Description {
  max-width: 500px;
  margin: 0 20px;
}
.ImageLaptop {
  margin: 0 20px;
}
.NameProduct {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}
.NameProduct:hover {
  text-decoration: underline;
  font-weight: 900;
}
.AddProductBasket {
  max-height: 30px;
  min-width: 85px;
  margin: 0 15px;
  font-size: 14px;
}
.ProductPrice {
  margin: 0 15px;
  font-size: 18px;
  min-width: 100px;
}


@media only screen and (max-width: 700px) {
  .LaptopProduct {
    flex-direction: column;
  }
  .ProductDescription {
    display: none;
  }
  .Name-Description,
  .AddProductBasket,
  .ProductPrice {
    text-align: center;
    margin-bottom: 5px;
  }
  .AddProductBasket {
    max-width: 77px;
  }
  .ProductPrice {
    font-size: 16px;
  }
  .ImageLaptop,
  .NameProduct,
  .ProductDescription,
  .AddProductBasket {
    margin: 5px auto;
  }

}