
.LaptopProducts {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.ContainerProducts {
  position: relative;
}
.TopPanel,
.BottomPanel {
  text-align: left;
}
.AllProduct,
.TenProduct,
.NextTenProduct{
  margin: 10px;
  min-width: 167px;
}
.Filters{
  margin-left: 20px;
  min-width: 216px;
}
select {
  margin: 5px;
  outline: none;
}
.FilterPrice{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
}
select {
  margin: 0;
}
.SideNameFilter {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 5px;
}
.Producer,
.Appointment,
.SkreenDiagonal,
.Ram,
.HddSdd,
.Os {
  margin-bottom: 15px;
}
.SidePanelFilters {
  display: block;
  position: absolute;
  left: 20px;
  background-color: rgba(255, 166, 0, 0.895);
  padding: 10px;
}
.CloseFilters {
  margin-bottom: 15px;
  min-width: 183px;
}
.Hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .SidePanelFilters {
    left: 10px;
  }
  .Filters {
    margin-left: 10px;
  }

}
@media only screen and (max-width: 350px) {
  .SidePanelFilters {
    left: 5px;
  }
  .Filters {
    margin-left: 5px;
  }
}
