.PageLink {
    color: black;
    margin-right: 15px;
    
}

.ActivePageLink {
    font-weight: bold;
}
.HeaderLinks {
    text-align: right;
    font-size: 18px;
    margin: 30px 20px 15px 40px;
}

@media only screen and (max-width: 650px) {
    .PageLink {
        margin-right: 5px;
    }
    .HeaderLinks {
        font-size: 14px;
        margin: 30px 5px 15px 5px;
    }
    .HeaderLinks {
        text-align: center;
        font-size: 18px;
        margin: 30px 20px 15px 40px;
        display: flex;
        flex-direction: column;
    }
    
}
